.button {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-family: inherit;
}
.primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.2s ease;
  transition-delay: 0.1s;

  &:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}
