.card {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 600px;
  min-height: 240px;
}
.img {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  filter: brightness(60%);
}
.content {
  display: flex;
  align-items: start;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.title {
  margin-bottom: 6px;
  line-height: 100%;
}

.country {
  margin-bottom: 30px;
  color: var(--primary-color7);
}

.price {
  margin-bottom: 24px;
}
.star{
  width: 32px;
  height: 32px;
}
.stars{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}