.paragraph16_regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.paragraph24_semibold{
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}

.paragraph20_medium{
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.title36_bold {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}
