@import "./static/reset.css";
@import "./static/typography.css";

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.title {
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;

}

.inner{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 20px;
}